<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Epidemiology Detection System :: Collector</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
    <script th:src="@{../js/collector.js}" ></script>
</head>
<body>
    <h1><a th:href="@{/}" >Epidemiology Detection System</a> :: Collector</h1>

    <table>
        <tbody>
            <tr>
                <td>
                    <label>Hash Tag: </label>
                </td>
                <td>
                    <input type="text" id="hashtag" name="hashtag" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="search" type="button" value="Search" />
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div id="searchResult">
        <table th:unless="${#lists.isEmpty(tweets)}">
            <thead>
            <tr>
                <td>Username</td>
                <td>Tweet</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tweet : ${tweets}" >
                <td>
                    <label th:text="${tweet.user}">user</label>
                </td>
                <td>
                    <label th:text="${tweet.text}">content</label>
                </td>
            </tr>
            </tbody>
        </table>
        <span th:if="${#lists.isEmpty(tweets)}">No data!</span>
    </div>

</body>
</html>