<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Epidemiology Detection System :: Filters</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
    <script th:src="@{../js/filter.js}" ></script>
</head>
<body>
<h1><a th:href="@{/}" >Epidemiology Detection System</a> :: Filters</h1>

<fieldset>
    <legend>Create Filter</legend>

    <ul>
        <li>
            <label>Name: </label>
            <input type="text" id="filterName" name="filterName" />
        </li>
        <li>
            <label>Filter Type: </label>
            <select id="filterType">
                <option th:each="filterType : ${filterTypes}" th:value="${filterType}" th:text="${filterType.name}">
            </select>
        </li>
        <li>
            <label>Filter Restriction: </label>
            <select id="filterRestriction">
                <option th:each="filterRestriction : ${filterRestrictions}" th:value="${filterRestriction}" th:text="${filterRestriction.designation}">
            </select>
        </li>
        <li>
            <label>Word: </label>
            <input type="text" id="filterWord" name="filterWord" />
        </li>
        <li>
            <label>Hash Tag: </label>
            <input type="text" id="filterTag" name="filterTag" />
        </li>
    </ul>
    <input id="create" type="button" value="Create" />
</fieldset>
<br />
<div id="searchResult">
    <table th:unless="${#lists.isEmpty(filters)}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Type</td>
            <td>Restriction</td>
            <td>Tag</td>
            <td>Word</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filter : ${filters}" >
            <td>
                <label th:text="${filter.id}">id</label>
            </td>
            <td>
                <label th:text="${filter.name}">name</label>
            </td>
            <td>
                <label th:text="${filter.type.name}">type</label>
            </td>
            <td>
                <label th:text="${filter.restriction.designation}">restriction</label>
            </td>
            <td>
                <label th:if="${filter.tag != null}" th:text="${filter.tag.name}">tag</label><!-- TODO replace with a dropdown -->
            </td>
            <td>
                <label th:text="${filter.word}">word</label>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:if="${#lists.isEmpty(filters)}">No data!</span>
</div>
</body>
</html>