<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Epidemiology Detection System :: Tags</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
    <script th:src="@{../js/tag.js}" ></script>
</head>
<body>
    <h1><a th:href="@{/}" >Epidemiology Detection System</a> :: Tags</h1>

    <fieldset>
        <legend>Create Hashtag</legend>

        <label>Hash Tag: </label>
        <input type="text" id="tagName" name="tagName" />
        <input id="create" type="button" value="Create" />
    </fieldset>
    <br />
    <fieldset>
        <legend>Search Hashtag</legend>

        <label>Hash Tag: </label>
        <input type="text" id="searchingTagName" name="searchingTagName" />
        <input id="search" type="button" value="Search" />
    </fieldset>
    <br />
    <div id="searchResult">
        <table th:unless="${#lists.isEmpty(tags)}">
            <thead>
            <tr>
                <td>Username</td>
                <td>Tweet</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag : ${tags}" >
                <td>
                    <label th:text="${tag.id}">id</label>
                </td>
                <td>
                    <label th:text="${tag.name}">name</label>
                </td>
            </tr>
            </tbody>
        </table>
        <span th:if="${#lists.isEmpty(tags)}">No data!</span>
    </div>
</body>
</html>