<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Epidemiology Detection System :: Dataset</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
    <script th:src="@{../js/dataset.js}" ></script>
</head>
<body>
<h1><a th:href="@{/}" >Epidemiology Detection System</a> :: Dataset</h1>

<fieldset>
    <legend>Create Dataset</legend>

    <ul>
        <li>
            <label>Name: </label>
            <input type="text" id="datasetName" name="datasetName" />
        </li>
        <li>
            <label>Main Tag: </label>
            <select id="tag">
                <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">
            </select>
        </li>
        <li>
            <label>Filter: </label>
            <select id="filter">
                <option th:each="filter : ${filters}" th:value="${filter.id}" th:text="${filter.name}">
            </select>
        </li>
    </ul>
    <input id="create" type="button" value="Create" />
</fieldset>
<br />
<div id="searchResult">
    <table th:unless="${#lists.isEmpty(datasets)}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Main Tag</td>
            <td>Filter</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dataset : ${datasets}" >
            <td>
                <label th:text="${dataset.id}">id</label>
            </td>
            <td>
                <label th:text="${dataset.tag.name}">tag</label>
            </td>
            <td>
                <label th:text="${dataset.name}">name</label>
            </td>
            <td>
                <label th:text="${dataset.filter[0].name}">filter</label>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:if="${#lists.isEmpty(datasets)}">No data!</span>
</div>

</body>
</html>