<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Epidemiology Detection System :: Collect Data</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
    <script th:src="@{../js/collectData.js}" ></script>
</head>
<body>
<h1><a th:href="@{/}" >Epidemiology Detection System</a> :: Collect Data</h1>

<fieldset>
    <legend>Dataset</legend>

    <ul>
        <li>
            <label>Dataset: </label>
            <select id="datasetId">
                <option th:each="dataset : ${datasets}" th:value="${dataset.id}" th:text="${dataset.name}">
            </select>
        </li>
    </ul>
    <input id="showData" type="button" value="Show data" />
</fieldset>
<br />

<div id="searchResult">
    <table th:unless="${#lists.isEmpty(tagDataList)}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Main Tag</td>
            <td>Filter</td>
            <td>Total Collected Data</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tagData : ${dataset.dataList}" >
            <td>
                <label th:text="${tagData.id}">id</label>
            </td>
            <td>
                <label th:text="${tagData.tagName}">tag</label>
            </td>
            <td>
                <label th:text="${tagData.numberOfTweets}">tweets number</label>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:if="${#lists.isEmpty(datasets)}">No data!</span>
</div>

</body>
</html>