<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Epidemiology Detection System</title>

    <script th:src="@{js/core.js}"></script>
</head>
<body>
    <h1>Epidemiology Detection System</h1>
    <br />
    <h3>Collector & Data Transformer</h3>
    <ul>
        <li><a th:href="@{/tag}" >Manage Tags</a></li>
        <li><a th:href="@{/filter}" >Manage Filters</a></li>
        <li><a th:href="@{/dataset}" >Manage Datasets</a></li>
        <li><a th:href="@{/collectData}" >Collect Data</a></li>
        <li><a th:href="@{/cleanData}" >Clean data</a></li>
    </ul>
    <br />
    <h3>Module Builder & Evaluation</h3>
    <ul>
        <li>Modules</li>
        <li>Evaluation</li>
    </ul>
    <br />
    <h3>Data Visualization</h3>
    <ul>
        <li>Visualization</li>
    </ul>
</body>
</html>